<!-- eventually this swap-highlight fn needs to be accessible to all views -->
<h1 class=search-form-title>Gate Travel</h1>
<form class=search>
  <input type="text"
    class="search-input planet-input typeahead"
    name="trips[origin]"
    placeholder="From: Earth, Abydos, etc.">
  <input type="text"
    class="search-input planet-input typeahead"
    name="trips[destination]"
    placeholder="To: Chulak, P3X888, etc.">
  <input type="text"
    class="search-input num-input"
    name="trips[num_travelers]"
    placeholder="1">
  <button class=search-btn>Search</button>
</form>
