<div class=select-btn>
  <button class=selectItem>Select</button>
</div>

<div class=legs>
  <ul class=legs-list>
    <% _.each(trip, function(leg) { %>
      <li>
        <div class=time>
          <p><b>
            <%= leg.trip_time.split('').splice(11, 5).join('') %>
          </b></p>
        </div>
        <div class=origin>
          <p>
            <%= PuddleJumper.planets.findWhere({ id: leg.origin_id }).get('name') %>
          </p>
        </div> <!-- law of De-who-now? -->
        <div class=right-arrow></div>
        <div class=destination>
          <p>
            <%= PuddleJumper.planets.findWhere({ id: leg.destination_id }).get('name') %>
          </p>
        </div>
        <div class=remaining-space>
          <p><%= leg.remaining_space %> spaces available<p>
        </div>
      </li>
    <% }) %>
  </ul>
</div>
