<header id=main-header class=clearfix>
  <nav class="header-item" id=navbar>
    <div class="navbar-item nav-left">
      <a href="#"><img id=logo src=<%= image_path("logo.png") %> alt="PuddleJumper Logo"></a>
    </div>
    <ul class="navbar-item nav-left">
      <li id=gates><a href="#">GATES</a></li>
      <li id=ships><a href="#ships">SHIPS</a></li>
      <li id=bases><a href="#bases">BASES</a></li>
    </ul>
    <ul class="navbar-item nav-right">
      <li><a href="#">Login</a></li>
    </ul>
  </nav>
</header>
